body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: (241, 245, 242)
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/8386422/pexels-photo-8386422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h2 {
    /* Text styles */
    font-size: 2.6em;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;

    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;

    /* Background styles */
    background-color: rgba(10, 150, 108, 0.8);
}

.card {
    size-adjust: ;

    /* Positioning and sizing
    display: flex; */

    /* Padding and margins */
    padding: 2em;
    margin-left: auto;
    margin-right: auto;

    /* Border styles */
    border: 3px solid rgb(0, 0, 0);
    border-width: 15px;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Background styles */
    background-color: rgba(10, 150, 108, 0.8);
}

.card-title {
    /* Text styles */
    font-size: 2em;
    text-align: right;
    text-transform: capitalize;
    text-underline-position: under;
    color: white;
}

.card-body {
    /* Padding and margins */
    padding: 1em;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    font-size: 1.7em;
    text-align: right;
    color: white;
}

.card .img {
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
}