@@ -5,6 +5,12 @@ body {
    /* background-color: black; */
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.hero {
    /* Sizing */
    width: 100vw;
@@ -25,6 +31,12 @@ body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media (max-device-width: 600px) {
        .mobile-text {
            text-align: center !important;
        }
    }
}

.hero h1 {
@@ -34,6 +46,12 @@ body {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;

    @media (max-device-width: 600px) {
        .mobile-text {
            text-align: center !important;
        }
    }
}

.hero h2 {
@@ -43,6 +61,12 @@ body {
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;

    @media (max-device-width: 600px) {
        .mobile-text {
            text-align: center !important;
        }
    }
}

.hero .btn {
@@ -67,6 +91,12 @@ body {

    /* Background styles */
    background-color: rgba(10, 150, 108, 0.8);

    @media (max-device-width: 600px) {
        .mobile-text {
            text-align: center !important;
        }
    }
}


@@ -216,6 +246,12 @@ body {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-device-width: 600px) {
        .mobile-text {
            text-align: center !important;
        }
    }
}

/* accordian */
@@ -268,6 +304,12 @@ body {
    min-height: 100vh;
    display: grid;
    justify-content: center;

    @media (max-device-width: 600px) {
        .mobile-text {
            text-align: center !important;
        }
    }
}

/* Spacing -------------------------------------------- */
@@ -362,26 +404,6 @@ body {
    transition: max-height 0.3s ease-in, padding 0.3s ease-in;
}

/* Media Query --------------------------------------- */

@media (320px <=width <=940px) {
    .faq-content p {
        margin: 1rem;
    }
}

@media (320px <=width <=480px) {
    .container {
        padding: 1rem;
    }
}

@media (min-width: 2048px) {
    .container {
        zoom: 2;
    }
}

/* accordian */

/* accordian inner text style */
@@ -410,6 +432,13 @@ body {
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    line-height: normal;

    @media (max-device-width: 600px) {
        .mobile-text {
            text-align: center !important;
        }
    }
}

.site-footer hr {
@@ -438,17 +467,26 @@ body {
    text-decoration: none;
}

.site-footer p {
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
    line-height: 2em;
}

.footer-links a {
    color: #737373
    color: #737373;
}

.footer-links a:active,
@@ -462,40 +500,11 @@ body {
    display: inline-block;
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    /* background-color: #33353d */
}

.copyright-text {
    /* margin: 0; */
    justify-content: start;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
    justify-content: center;
    line-height: normal;
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

/* Footer  */
